@import '@/styles/style';

.mainViewLayout {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  overflow: hidden;

  @include layout-width;

  height: 100vh;
}

.svgC {
  @include absolute($right: 0);
}

.svgO {
  @include absolute($top: 30vh);
}

.svgT {
  @include absolute($right: 0, $bottom: 0);
}
