// color
$mainMint1: #00ffe5;
$mainMint2: #00ccb7;
$mainMint3: #009989;
$mainMint4: #00665c;
$mainMint5: #00332e;
$mainMint6: #1b1c1e;

$subGray1: #f8f9fa;
$subGray2: #e9ecef;
$subGray3: #dee2e6;
$subGray4: #ced4da;
$subGray5: #adb5bd;
$subGray6: #6c757d;
$subGray7: #495057;
$subGray8: #343a40;

$subBlack: #000;
$subWhite: #fff;
