@import '@/styles/style';

.btnContainer {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  height: 92px;
  margin: 0 -23px;
  padding: 0 24px;
  border-top: 1px solid $sub-gray6;

  background: $sub-bg-black;
}

.finishButton {
  cursor: pointer;

  display: flex;
  flex: 205;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 52px;
  padding: 8px 0;
  border-radius: 100px;

  background-color: $sub-gray8;

  transition:
    background 0.2s ease,
    color 0.2s ease,
    transform 0.2s ease;

  &:active {
    transform: scale(0.96);
  }
}

.finishText {
  @include subtitle-2;

  color: $sub-gray2;
}

.retryButton {
  cursor: pointer;

  display: flex;
  flex: 120;
  gap: 10px;
  align-items: center;
  justify-content: center;

  height: 52px;
  padding: 8px 0;
  border: 1px solid $sub-gray6;
  border-radius: 100px;

  background: $main-mint1;

  transition:
    background 0.2s ease,
    color 0.2s ease,
    transform 0.2s ease;

  &:active {
    transform: scale(0.96);
  }
}

.retryText {
  @include subtitle-2;

  color: $sub-bg-black;
}
