@import '@/styles/style';

.dropdownContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;

  width: 100%;
}

.faqDropdownTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 8px 0;
}

.faqDropdownText {
  @include body-2;

  color: $sub-gray5;
}

.faqDropdownContent {
  @include body-3;

  color: $sub-gray5;
}

// AnswerBold
.bold {
  @include body-3;

  font-weight: 500;
  color: $sub-gray3;
}

// AnswerOfficial
.officialLink {
  @include body-3;

  font-weight: 500;
  color: $sub-gray5;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

// AnswerMail
.mail {
  @include body-3;

  font-weight: 500;
  color: $sub-gray5;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}
