.hallLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hallMain {
  flex-grow: 1;
  padding: 0 24px;
}

.hallFooter {
  display: flex;
  padding: 36px 24px 32px;
  gap: 12px;
}
